@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: gotham-bold;
    src: url(./fonts/gotham-bold.ttf);
}
@font-face {
    font-family: gotham-thin;
    src: url(./fonts/gotham-thin.ttf);
}

/*Common Styles*/
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: #0a0b0c;
    }
a:active {
    background: #568cbc;
    padding: 13px 20px;
    border-radius: 7px;
    } 
a:visited {
    color: white;
}
.body {
    background-image: url("./images/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
/*End Common Styles*/

/*header*/
.header {
    padding: 55px 0 28px 0;
    overflow: hidden;
    background: transparent;
    overflow: hidden;
}
.logo-wrapper {
    float: left;
}
.logo {
    display: inline-block;
    margin-left: 23px;
}
.logo-block {
    float: right;
    margin: 12px 0 0 5px;
}
.website-name {
    font-family: gotham-bold;
    display: inline;
    font-size: 29px;
    text-align: left;
    color: white
}
.website-name-description {
    font-family: gotham-thin;
    font-size: 16px;
    color: #81b6e5;
    margin-top: 2px;
}
.menu-list {
    list-style-type: none;
    float: right; 
    overflow: hidden;
}
.menu-item {
    position: relative;
    float: left;
    color: white;
    font-family: Roboto-regular;
    font-size: 15px;
    display: block;
    padding: 13px 20px;
}
.menu-item:hover {
    background: #568cbc;
    border-radius: 7px;
} 
.menu-item:before {
    position: absolute;
    content: "";
    width: 1px;
    top: 0;
    bottom: 0;
    right: 0;
    background: #0c3559;
}
.menu-item:last-child:before {
    display: none;
}
/*end of the header*/

/*main*/
.main {
    background: white;
    border-radius: 7px;
}
.what-can-tempees {
    font-family: Roboto-black;
    font-size: 40px;
    color: #17466f;
    text-align: center;
    padding: 63px 0 15px;
}
.main-text {
    font-family: Roboto-light;
    font-size: 24px;
    color: #184771;
    text-align: center;
    line-height: 35px;
    padding: 0 37px 40px;  
}
.dividing-line {
    height: 1px;
    width: 1080px;
    background: #f0f0f0;
    margin: auto;
}
.widget-list {
    overflow: hidden;
    padding: 42px 28px 57px 27px;
}
.widget-item {
    float: left;
    display: inline-block;
    border: 1px solid #dfdfdf;
    margin: 0 30px 0 0;
}
.widget-item:last-child {
    margin: 0;
}
.widget-top {
    background: #f6f6f6;
    color: #3c6e9a;
    font-family: Roboto-bold;
    font-size: 24px;
    padding: 15px 25px 24px;
    text-align: center;
}
.widget-title {
    max-width: 140px;
}
.widget-middle {
    text-align: center;
    border: 1px solid #dfdfdf;
    border-left: none;
    border-right: none;
    height: 90px;
    padding-top: 21px;
}
.widget-bottom {
    background: #ebf2f7;
    text-align: center;
    padding: 22px 33px;
}
.widget-cta {
    font-family: Roboto-black;
    font-size: 17px;     
    background: #568abd;
    border-radius: 2px;
    padding: 7px 25px;
}
.blue-bottom {
    background: #f3f7f9;
}
.dividing-gradient {
    background-image: linear-gradient(#a0bfda, #f3f7f9);
    height: 12px;
}
.our-services {
    font-family: Roboto-black;
    font-size: 40px;
    color: #17466f;
    text-align: center;
    padding: 18px 0 10px;
}
.secondary-text {
    font-family: Roboto-light;
    font-size: 19px;
    color: #17466f;
    text-align: center;
    line-height: 36px;
    padding: 0 30px 65px;
}
/*end of main*/

/*footer*/
.footer {
    background: transparent;
    margin: 21px 0 125px;
    padding: 0 32px;
    overflow: hidden;
}
.copyright {
    font-family: Roboto-regular;
    font-size: 13px;
    color: #91afc9;
    float: left;
}
.twitter-image {
    margin: 0 10px 0 10px;
    float: left;
}
.social {
    font-family: Roboto-regular;
    font-size: 13px;
    color: #59a9da;
    float: left;
}
.footer-navigation {
    float: right;
}
.footer-navigation-item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 13px;
    font-family: Roboto-regular;
    font-size: 13px;
    color: #91afc9;
}
.footer-navigation-item:before {
    position: absolute;
    content: "";
    width: 1px;
    top: 0;
    bottom: 0;
    right: 0;
    background: #91afc9;
}
.footer-navigation-item:last-child:before {
    display: none;
}
.footer-navigation-item a:visited {
    color: #91afc9;
}
/*end of footer*/