@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: gotham-bold;
    src: url(./fonts/gotham-bold.ttf);
}
@font-face {
    font-family: gotham-thin;
    src: url(./fonts/gotham-thin.ttf);
}

/*Common Styles*/
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: #0a0b0c;
    }
a:active {
    background-image: url("./images/button-background");
    } 
a:visited {
    color: white;
    }
.body {
    background-image: url("./images/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
/*End Common Styles*/

/* Header in transparent container */
.container-transparent-1 {
    position: relative;
    background: transparent;
    margin: auto;
    padding: auto;
    overflow: hidden;
}
.header {
    padding: 55px 0 28px 0;
    overflow: hidden;
}
.logo-wrapper {
    float: left;
}
.logo {
    display: inline-block;
}
.logo-block {
    float: right;
    margin: 12px 0 0 5px;
}
.website-name {
    font-family: gotham-bold;
    display: inline;
    font-size: 29px;
    text-align: left;
    color: white
}
.website-name-description {
    font-family: gotham-thin;
    font-size: 16px;
    color: #81b6e5;
    margin-top: 2px;
}
.menu-list {
    list-style-type: none;
    font-family: Roboto-regular;
    font-size: 15px;
    float: right; 
    color: white;
    overflow: hidden;
}
.menu-item {
    float: left;
    color: white;
    font-family: Roboto-regular;
    font-size: 15px;
    display: inline-block;
}
.menu-item-text {
    padding: 15px 25px; 
}
/*end of the header*/

/*main in white container*/
.container-white {
    position: relative;
    background: white;
    margin: auto;
    border-radius: 7px;
}
.what-can-tempees {
    font-family: Roboto-black;
    font-size: 40px;
    color: #17466f;
    text-align: center;
    padding: 63px 0 15px;
}
.main-text {
    font-family: Roboto-light;
    font-size: 24px;
    color: #184771;
    text-align: center;
    line-height: 35px;
    padding: 0 37px 40px;  
}
.dividing-line {
    height: 1px;
    width: 1080px;
    background: #f0f0f0;
    margin: auto;
}
.widget-list {
    overflow: hidden;
    padding: 42px 3px 57px;
}
.widget-item {
    float: left;
    display: inline-block;
    display: table;
    border-collapse: collapse;
    border: 1px solid #dfdfdf;
    margin: 0 15px;
}
.widget-top {
    background: #f6f6f6;
    color: #3c6e9a;
    font-family: Roboto-bold;
    font-size: 24px;
    padding: 15px 25px 24px;
    text-align: center;
}
.widget-title {
    max-width: 140px;
}
.widget-middle {
    text-align: center;
    padding: 21px 0 24px;
    border: 1px solid #dfdfdf;
    border-left: none;
    border-right: none;
}
.widget-bottom {
    background: #ebf2f7;
    text-align: center;
    padding: 22px 33px;
}
.widget-main {
    height: 110px;
}
.widget-cta {
    font-family: Roboto-black;
    font-size: 17px;     
    background: #568abd;
    border-radius: 2px;
    padding: 7px 25px;
}
.dividing-gradient {
    background-image: linear-gradient(#e2edf3, white);
    height: 12px;
    width: auto;
}
.our-services {
    font-family: Roboto-black;
    font-size: 40px;
    color: #17466f;
    text-align: center;
    padding: 18px 0 10px;
}
.secondary-text {
    font-family: Roboto-light;
    font-size: 19px;
    color: #17466f;
    text-align: center;
    line-height: 36px;
    padding: 0 30px 65px;
}
/*end of main*/

/*footer in transparent container*/
.container-transparent-2 {
    position: relative;
    background: transparent;
    margin: auto;
    padding: auto;
    overflow: hidden;
}
.footer-item {
    float: right;
    text-decoration: none;
    display: inline-block;
}
/*end of footer*/